html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#app {
  margin: 50px;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: skyblue;
}

#canvas {
  border: 1px solid black;
  width: 512px;
  height: 512px;
  margin: auto;
  position: relative;
}